services:
  # ─────────── Telegram бот ───────────
  psi-bot:
    image: susnake/psi_cock_size_bot:latest
    container_name: psi-bot
    restart: unless-stopped
    volumes:
      - psi-bot-data:/app/data
    secrets:
      - psi_chat_bot
      - GEMINI_API_KEY
      - GOOGLE_API_KEY
      - GOOGLE_CSE_ID
      - STORAGE_CHAT_ID
      - IMAGE_SERVER_URL

  # ─────────── HTTP-сервер для изображений ───────────
  psi-http:
    image: susnake/psi_http_image_server:latest
    container_name: psi-http
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    secrets:
      - IMAGE_SERVER_URL
      - SSL_EMAIL
    volumes:
      - psi-http-images:/var/www/html/images
      - psi-http-letsencrypt:/etc/letsencrypt

# Volumes
volumes:
  psi-bot-data:
  psi-http-images:
  psi-http-letsencrypt:

    # Секреты
secrets:
  psi_chat_bot:
    file: ./secrets/psi_chat_bot.txt
  GEMINI_API_KEY:
    file: ./secrets/GEMINI_API_KEY.txt
  GOOGLE_API_KEY:
    file: ./secrets/GOOGLE_API_KEY.txt
  GOOGLE_CSE_ID:
    file: ./secrets/GOOGLE_CSE_ID.txt
  STORAGE_CHAT_ID:
    file: ./secrets/STORAGE_CHAT_ID.txt
  IMAGE_SERVER_URL:
    file: ./secrets/IMAGE_SERVER_URL.txt
  SSL_EMAIL:
    file: ./secrets/SSL_EMAIL.txt
